@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FBFAF9;
}

.profile-picture-frame {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.profile-picture {
  border-color: #c1b09f;

}

.save-as-pdf-button {
  background-color: #3b3b3b;
}

.save-as-pdf-button:hover {
  background-color: #B2987F;
}

.skill {
  border: 1px solid #efefef;
  border-radius: 5px;
  background-color: #FBFAF9;
  color: #252525;
  text-align: center;
  font-size: 12px;
  padding: 3px;
}

.contactInfo {
  background-color: #d9c9ba;
}

.infoItem {
  border: 2px solid #efefef;
  border-radius: 5px;
  background-color: #F7F6F5;
  color: #252525;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  margin-bottom: 5px;
}

.contactInfoBar {
  padding: 10px;
  background-color: #ffffff;
}

.vey-bg-light-brown {
  border: 1px solid rgba(164, 142, 119, 0.25);
  border-radius: 5px;
  background-color: rgba(247, 246, 245, 0.56);
}
