@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #F4F2EE;
  --text-color: #252525;
  --light-text-color: #4e4e4e;
  --border-color: #efefef;
  --hover-color: #B2987F;
  --card-bg: #FBFAF9;
  --light-brown: rgba(212, 190, 167, 0.16);
  --profile-border: rgba(171, 147, 123, 0.31);
  --info-bg: rgba(255, 255, 255, 0.33);
  --contact-bg: rgba(255, 255, 255, 0.30);
  --light-brown-bg: rgba(247, 246, 245, 0.56);
  --tips-bg: #bda9971a;
  --section-color: #665a47;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.save-as-pdf-button {
  background-color: #3b3b3b;
  transition: background-color 0.3s ease;
}

.save-as-pdf-button:hover {
  background-color: var(--hover-color);
}

.skill {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--card-bg);
  text-align: center;
  font-size: 0.75rem;
  padding: 0.1875rem;
}

.xd {
  background-color: var(--light-brown);
}

.lightBrownCard {
  border: 8px solid rgba(255, 255, 255, 0.14);
  border-radius: 8px;
  background: radial-gradient(circle, rgba(193, 182, 172, 1) 6%, rgba(171, 147, 123, 0.23) 60%, rgba(255, 255, 255, 0.3) 100%);
}

.profile-picture-frame {
  margin: 0 auto;
}

.profile-picture {
  opacity: 0.92;
  border: 6px solid var(--profile-border);
}

.infoItem {
  background-color: var(--info-bg);
  color: var(--light-text-color);
  font-weight: 340;
  text-align: center;
  font-size: 0.8125rem;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
}

.contactInfoBar {
  margin: 0.5rem;
  padding: 0.5rem 0.5rem 0.25rem;
  background-color: var(--contact-bg);
}

.vey-bg-light-brown {
  border: 1px solid rgba(164, 142, 119, 0.25);
  border-radius: 4px;
  background-color: var(--light-brown-bg);
}

.tips {
  background-color: var(--tips-bg);
  padding: 0.625rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.section {
  font-weight: 340;
  color: var(--section-color);
}

@media print {
  @page {
    size: 21cm 29.7cm;
    margin: 0;
  }
}

.grid-container {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.grid-item {
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.item {
  flex: 1;
  min-width: 0;
}

.cardTitle {
  font-weight: 340;
  font-size: 0.92rem;
  line-height: 1.3rem;
}

@media (max-width: 768px) {
  .cardTitle {
    font-weight: 440;
    font-size: 0.89rem;
    line-height: 1.2rem;
  }
}