@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F4F2EE;
}


.save-as-pdf-button {
  background-color: #3b3b3b;
}

.save-as-pdf-button:hover {
  background-color: #B2987F;
}

.skill {
  border: 1px solid #efefef;
  border-radius: 5px;
  background-color: #FBFAF9;
  color: #252525;
  text-align: center;
  font-size: 12px;
  padding: 3px;
}

.contactInfo {
}


.xd {
  background-color: rgba(212, 190, 167, 0.16);
}

.lightBrownCard {
  border: 8px solid rgba(255, 255, 255, 0.14);
  border-radius: 8px;
  background: radial-gradient(circle, rgba(193, 182, 172, 1) 6%, rgba(171, 147, 123, 0.23) 60%, rgba(255, 255, 255, 0.3) 100%);
}


.profile-picture-frame {
  margin-left: auto;
  margin-right: auto;
}

.profile-picture {
  opacity: 0.92;
  border: 6px solid rgba(171, 147, 123, 0.31);

}

.infoItem {
  background-color: rgba(255, 255, 255, 0.33);
  color: #4e4e4e;
  font-weight: 340;
  text-align: center;
  font-size: 13px;
  padding: 8px;
  margin-bottom: 4px;
}


.contactInfoBar {
  margin: 8px;
  padding: 8px 8px 4px 8px;
  background-color: rgba(255, 255, 255, 0.30);
}

.vey-bg-light-brown {
  border: 1px solid rgba(164, 142, 119, 0.25);
  border-radius: 4px;
  background-color: rgba(247, 246, 245, 0.56);
}

.tips {
  background-color: #bda9971a;
  padding: 10px;
  font-size: 0.800rem; /* 14px */
  line-height: 1.20rem; /* 20px */
}

.section {
  font-weight: 340;
  color: #665a47;
}

@media print {
  @page {
    size: 21cm 29.7cm;
    margin: 0;
    /* change the margins as you want them to be. */
  }
}

.grid-container {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.grid-item {
  padding: 0;
  /* Ensure no other styles are affecting the width */
  width: 100%;
  box-sizing: border-box;
}

.item {
  flex: 1;
  min-width: 0;
}

.cardTitle {
  font-weight: 340;
  font-size: 0.920rem; /* 14px */
  line-height: 1.3rem; /* 20px */
}

@media (max-width: 768px) {

  .cardTitle {
    font-weight: 440;
    font-size: 0.890rem; /* 14px */
    line-height: 1.2rem; /* 20px */
  }

}