/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root variables */
:root {
  --bg-color: #F4F2EE;
  --text-color: #252525;
  --light-text-color: #4e4e4e;
  --border-color: #baa28b3d;
  --hover-color: #fff1e3;
  --card-bg: #FBFAF9;
  --light-brown: rgba(212, 190, 167, 0.16);
  --profile-border: rgba(216, 209, 202, 0.654);
  --info-bg: rgba(255, 255, 255, 0.33);
  --contact-bg: rgba(255, 255, 255, 0.30);
  --light-brown-bg: rgba(247, 246, 245, 0.56);
  --tips-bg: #bda9971a;
  --section-color: #665a47;
}

/* Base styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Component styles */
.save-as-pdf-button {
  background-color: #3b3b3b;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--hover-color);
  }
}

.skill {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--card-bg);
  text-align: center;
  font-size: 0.75rem;
  padding: 0.1875rem;
}

.xd {
  background-color: #ffffffd1;
}

.card-frame {
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #b79970a7 0%, #f3eae0 50%, #d3baa1 90%);

  &::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    width: 300%;
    height: 300%;
    transform: rotate(30deg);
    z-index: 2;
    animation: straightShineEffect 1s cubic-bezier(0.1, 0.05, 0.1, 0.1) 1, straightShineEffect 8s cubic-bezier(0.1, 0.05, 0.1, 0.1) infinite 4s;
  }
}

.card-contact-link {
  position: relative;
  z-index: 4;
  background-color: var(--info-bg);
  color: var(--light-text-color);
  font-weight: 340;
  text-align: center;
  font-size: 0.8125rem;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
}

.card-contact-link-bar {
  z-index: 4;
  margin: 0.5rem;
  padding: 0.5rem 0.5rem 0.25rem;
  background-color: var(--contact-bg);
}

.profile-picture-frame {
  padding-top: 0.35rem;
  padding-bottom: 0.3rem;
  z-index: 1;
}

.profile-picture {
  opacity: 0.92;
  border: 6px solid rgba(171, 147, 123, 0.31);
  border-radius: 100%;
  position: relative;
  z-index: 1;
}

.layout-section {
  font-weight: 340;
  color: var(--section-color);
}

.cv-row-half {
  flex: 1;
  min-width: 0;
}

.card-title {
  font-weight: 340;
  font-size: 0.92rem;
  line-height: 1.3rem;
}

/* Animations */
@keyframes straightShineEffect {
  0% {
    opacity: 0;
    transform: translateX(-100%) translateY(-100%) rotate(30deg);
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translateX(-33.33%) translateY(-33.33%) rotate(30deg);
    background: linear-gradient(
      90deg,
      transparent,
      rgba(247, 236, 227, 0.05),
      rgba(247, 236, 227, 0.91),
      rgba(247, 236, 227, 0.05),
      transparent
    );
  }
  60% {
    opacity: 0.95;
  }
  70% {
    opacity: 0.9;
  }
  80%, 90%, 100% {
    opacity: 0;
    transform: translateX(33.33%) translateY(33.33%) rotate(30deg);
  }
}

/* Media queries */
@media print {
  @page {
    size: 21cm 29.7cm;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .card-title {
    font-weight: 440;
    font-size: 0.89rem;
    line-height: 1.2rem;
  }

  .card-frame::before {
    top: -80%;
    left: -80%;
    width: 260%;
    height: 260%;
  }

  @keyframes straightShineEffect {
    0% {
      opacity: 0;
      transform: translateX(-80%) translateY(-80%) rotate(30deg);
    }
    5% {
      opacity: 0.5;
    }
    10% {
      opacity: 1;
    }
    50% {
      opacity: 1;
      transform: translateX(-26.67%) translateY(-26.67%) rotate(30deg);
      background: linear-gradient(
        90deg,
        transparent,
        rgba(247, 236, 227, 0.05),
        rgba(247, 236, 227, 0.91),
        rgba(247, 236, 227, 0.05),
        transparent
      );
    }
    60% {
      opacity: 0.95;
    }
    70% {
      opacity: 0.9;
    }
    80%, 90%, 100% {
      opacity: 0;
      transform: translateX(26.67%) translateY(26.67%) rotate(30deg);
    }
  }
}